body {
  font-family: "poppins";
}

/* NAVBAR */

.button {
  padding: 6px 37px 6px 36px;
  font-weight: bold;
  font-size: 22px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: white;
  background-color: #2cc4ed;
  /* background: rgb(25 166 219 / 0.35); */
  width: 120;
  border-radius: 30px;
}

/* HEADER-IMG */

.header-img {
  background: rgba(0, 0, 0, 0.5) url("../images/header-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-blend-mode: darken;
  padding: 300px 0px;
}
.header-img .button {
  padding: 6px 37px 6px 36px;
  font-weight: bold;
  font-size: 22px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: white;
  background: #3ba8be;

  width: 120;
  border-radius: 30px;
}
.header-img .button:hover {
  background-color: #2cc4ed;
  color: white;
}
.banner-inner {
  background-color: transparent;
  text-align: center;
}
.banner-inner span {
  font-weight: bold;
  color: white;
  font-size: 60px;
}
.banner-inner p {
  color: white;
}
.banner-inner-sub h1 {
  font-weight: bold;
  color: #2cc4ed;
  font-size: 70px;
}
.banner-inner .button {
  padding: 8px 40px 8px 40px;
}

.blue-sec {
  background-color: #6ccfe9;
  padding: 20px 0px;
}
.blue-sec h3 {
  margin-top: 20px;
  color: white;
  font-weight: bold;
}
.blue-sec li {
  color: white;
}
.blue-sec li h5 {
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

.services h5 {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}
.services-pad {
  padding: 48px;
}
.services img {
  width: 30%;
}
.services p {
  text-align: center;
  padding-top: 20px;
}

.legal-docs {
  padding: 60px 140px 60px 140px;
}
.legal-docs h2 {
  color: #2cc4ed;
  font-weight: bold;
}
.legal-docs .margin {
  margin-top: 50px;
}
.legal-docs h5 {
  color: #2cc4ed;
  font-weight: bold;
}
.legal-docs img {
  height: 26px;
  width: 26px;
}
.legal-docs .button {
  margin-top: 20px;
  margin-left: 20px;
  padding: 6px 37px 6px 36px;
  font-size: 18px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: white;
  /* background-color: #2cc4ed; */
  background: rgb(25 166 219 / 0.35);
  border-radius: 30px;
}
.legal-docs .button:hover {
  background-color: #2cc4ed;
}

.vetted-pad {
  padding: 40px;
}

/* CAROUSEL */

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

.card-img {
  background-color: rgb(219, 218, 218);
  align-items: center;
}

.carousel-item h5 {
  margin-top: 10px;
  font-weight: bold;
  color: #2cc4ed;
  text-align: center;
  font-size: 16px;
}
.carousel-item p {
  font-weight: bold;
  text-align: center;
}
.carousel-item a {
  padding: 6px 24px 6px 24px;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: white;
  background-color: rgb(45, 45, 45);
  /* background: rgb(25 166 219 / 0.35); */
  width: 120;
  border-radius: 30px;
}
.carousel-item a:hover {
  color: #2cc4ed;
}

.carousel-item img {
  justify-content: center;
}
.center-button {
  align-items: center;
}
.card {
  display: flex;
  justify-content: center;
}
.margins {
  padding: 60px 100px 60px 100px;
}
.carousel-item-prev {
  color: black;
}

.white-box {
  background-color: white;
  padding: 20px;
}
.blue-sec a {
  padding: 6px 24px 6px 24px;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: white;
  background-color: rgb(0, 0, 0);
  width: 120;
  border-radius: 30px;
  margin-top: 20px;
}
.blue-sec a:hover {
  color: #2cc4ed;
}
.blue-sec .padding {
  padding: 30px 350px;
}
.vetted h4 {
  font-weight: bold;
  color: #2cc4ed;
}

.footer-text {
  background-color: #2b6271;
  color: white;
  text-align: center;
  padding: 30px 0px 30px 0px;
}
.footer-padding {
  padding: 30px 50px 30px 50px;
  background-color: black;
  color: white;
}
.footer-padding a {
  color: white;
  text-decoration: none;
}
.footer-padding a:hover {
  color: #2cc4ed;
}

/* MEDIA QUERIS */

@media (min-width: 350px) {
  .footer-margin {
    margin-top: 18px;
  }
  .services-pads {
    padding: 0px;
  }
  .header-img {
    padding: 50px 0px;
  }
  .blue-sec h3 {
    font-size: 16px;
    margin-top: 16px;
  }
  .blue-sec li h5 {
    margin-top: 24px;
    font-size: 16px;
  }
  .blue-sec p {
    font-size: 12px;
  }
  .legal-docs {
    padding: 25px 12px 30px 12px;
  }
  .banner-inner span {
    font-size: 14px;
  }
  .banner-inner p {
    font-size: 12px;
  }
  .header-img .button {
    padding: 4px 14px 4px 14px;
    font-size: 12px;
  }
  .services-pad {
    padding: 30px 20px 30px 20px;
  }
  .legal-docs h5 {
    font-size: 16px;
  }
  .legal-docs h2 {
    font-size: 18px;
  }
  .legal-docs .margin {
    margin-top: 20px;
  }
  .commonly h2 {
    font-size: 20px;
  }
  .margins {
    padding: 50px 60px 50px 60px;
  }
  .carousel-item a {
    padding: 6px 16px 6px 16px;
    font-size: 12px;
  }
  .carousel-item h5 {
    font-size: 14px;
  }
  .blue-sec .padding {
    padding: 10px 40px;
  }
  .blue-sec h5 {
    font-size: 16px;
  }
  .footer-margin {
    margin-top: 14px;
  }
  .vetted h4 {
    font-size: 18px;
  }
  .vetted-pad {
    padding: 10px;
  }
  .vetted p {
    font-size: 12px;
  }
  .footer-text p {
    font-size: 12px;
    padding: 5px;
  }
  .footer-padding {
    font-size: 12px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .header-img {
    padding: 80px 0px;
  }
  .banner-inner span {
    font-size: 22px;
  }
  .header-img .button {
    padding: 5px 20px 5px 20px;
    font-size: 14px;
  }
  .services-pad {
    padding: 30px 20px 30px 20px;
  }
  .services h5 {
    font-size: 16px;
  }
  .services p {
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
  }
  .legal-docs {
    padding: 18px 40px 30px 40px;
  }
  .legal-docs .margin {
    margin-top: 30px;
  }
  .blue-sec .padding {
    padding: 16px 60px;
  }
  .footer-margin {
    margin-top: 14px;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .header-img {
    padding: 130px 0px;
  }
  .banner-inner span {
    font-size: 30px;
  }
  .header-img .button {
    padding: 5px 20px 5px 20px;
    font-size: 16px;
  }
  .services-pad {
    padding: 30px 20px 30px 20px;
  }
  .services h5 {
    font-size: 16px;
  }
  .services p {
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
  }
  .legal-docs {
    padding: 30px 60px 40px 60px;
  }
  .legal-docs .margin {
    margin-top: 30px;
  }
  .blue-sec .padding {
    padding: 30px 80px;
  }
  .footer-margin {
    margin-top: 14px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .commonly h2 {
    font-size: 1.5rem;
}
  .header-img {
    padding: 130px 0px;
  }
  .banner-inner span {
    font-size: 30px;
  }
  .header-img .button {
    padding: 6px 20px 6px 20px;
    font-size: 18px;
  }
  .services-pad {
    padding: 30px 20px 30px 20px;
  }
  .legal-docs {
    padding: 50px 120px 60px 50px;
  }
  .margins {
    padding: 50px 60px 50px 60px;
  }
  .carousel-item a {
    padding: 6px 16px 6px 16px;
    font-size: 12px;
  }
  .carousel-item h5 {
    font-size: 14px;
  }
  .blue-sec .padding {
    padding: 30px 180px;
  }
  .footer-margin {
    margin-top: 14px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .commonly h2 {
    font-size: 1.5rem;
}
  .header-img {
    padding: 160px 0px;
  }
  .banner-inner span {
    font-size: 40px;
  }
  .header-img .button {
    padding: 6px 30px 6px 30px;
    font-size: 20px;
  }
  .legal-docs {
    padding: 60px 110px 60px 110px;
  }
  .margins {
    padding: 60px 86px 60px 86px;
  }
  .blue-sec .padding {
    padding: 30px 290px;
  }

  .banner-inner p {
    font-size: 16px;
  }
  .blue-sec h3 {
    font-size: 1.75rem;
  }
  .blue-sec li h5 {
    font-size: 1.25rem;
  }
  .blue-sec p {
    font-size: 16px;
  }
  .vetted-pad {
    padding: 40px;
  }
  .vetted h4 {
    font-size: 1.5rem;
  }
  .vetted p {
    font-size: 16px;
  }
  .commonly h2 {
    font-size: 2rem;
  }
  .footer-text p {
    font-size: 16px;
    padding: 5px;
  }

  .legal-docs h2 {
    font-size: 2rem;
  }
  .legal-docs h5 {
    font-size: 1.25rem;
  }
  .blue-sec h5 {
    font-size: 1.25rem;
  }
  .services p {
    font-size: 16px;
  }
}

/* Extra extra large devices (extra large desktops, 1400px and up) */
@media (min-width: 1400px) {
  .banner-inner span {
    font-size: 50px;
  }
  .header-img {
    padding: 280px 0px;
  }
  .header-img .button {
    padding: 6px 30px 6px 30px;
    font-size: 20px;
  }
  .legal-docs {
    padding: 60px 120px 60px 120px;
  }
  .margins {
    padding: 55px 80px 55px 80px;
  }
  .blue-sec .padding {
    padding: 30px 300px;
  }

  .banner-inner p {
    font-size: 16px;
  }
  .blue-sec h3 {
    font-size: 1.75rem;
  }
  .blue-sec li h5 {
    font-size: 1.25rem;
  }
  .blue-sec p {
    font-size: 16px;
  }
  .vetted-pad {
    padding: 40px;
  }
  .vetted h4 {
    font-size: 1.5rem;
  }
  .vetted p {
    font-size: 16px;
  }
  .commonly h2 {
    font-size: 2rem;
  }
  .footer-text p {
    font-size: 16px;
    padding: 5px;
  }
  .legal-docs h2 {
    font-size: 2rem;
  }
  .legal-docs h5 {
    font-size: 1.25rem;
  }
  .blue-sec h5 {
    font-size: 1.25rem;
  }
  .services h5 {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 1.25rem;
  }
  .services p {
    font-size: 16px;
  }
}
